body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  display: block;
  font-family: "Lucida Calligraphy";
  font-size: x-large;
  font-weight: normal;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  text-align: center;
  text-indent: 0;
  margin: 3em 0 2em;
  padding: 0;
  color: red;
}
input {
  font-weight: bold;
  font-style: italic;
}
select {
  width: 222px;
}
.centralizado {
  text-align: center;
}
